header.container#header
  .header
    .header-left
      .avatar
        img(src=url_for(theme.avatar))
      .author
        div.author-name
          a(href=url_for('/'))=theme.author
        div.about-me=theme.aboutme

    .header-right
      ul.navigation
        each link, text in theme.menu
          li
            a(href=url_for(link))=text
            
    include ./aboutme.pug
